
<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Course Planner</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>

    
<div class="logo">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Ankara_Y%C4%B1ld%C4%B1r%C4%B1m_Beyaz%C4%B1t_University_logo.svg/2048px-Ankara_Y%C4%B1ld%C4%B1r%C4%B1m_Beyaz%C4%B1t_University_logo.svg.png" alt="logo">
    <h1 class="header">Course Planner</h1>
</div>


<!-- Add a div between the logo and buttons to create some space -->
<div style="height: 250px;"></div>


<div id="app" style="height: 1500px;">

  
    <div class="accordion">
        <button class="accordion-header" @click="toggleAccordion('courses')">Courses</button>
        <div class="accordion-panel" :class="{ 'active': activeAccordion === 'courses' }">
    
            <button @click="editCourses" class="mainButton" v-if="!showAddCourseForm && !showAddClassForm && !showAddBusyHourForm && !showEditBusyHoursForm">Edit Courses</button>
            <button @click="addCourse" class="mainButton" v-if="!showAddCourseForm && !showAddClassForm && !showAddBusyHourForm && !showEditBusyHoursForm">Add a Course</button>
            
            <div v-if="showAddCourseForm" class="course-form">
   
            </div>

       
                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Year</th>
                            <th>Credit</th>
                            <th>Type</th>
                            <th>Department</th>
                            <th>Number of Students</th>
                            <th>Instructor</th>
                            <th>Block</th>
                            <th>Edit </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="course in courses" :key="course.code">
                            <td>{{ course.code }}</td>
                            <td>{{ course.name }}</td>
                            <td>{{ course.year }}</td>
                            <td>{{ course.credit }}</td>
                            <td>{{ course.type }}</td>
                            <td>{{ course.dept }}</td>
                            <td>{{ course.num_students }}</td>
                            <td>{{ course.instructor }}</td>
                            <td>{{ course.hours }}</td>
                            <td>
                                <button @click="editCourse(course.code)" class="main">✏️</button>
                                <button @click="deleteCourse(course.code)" class="deleteButton">❌</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
          
        </div>
    </div>


    <div class="accordion">
        <button class="accordion-header" @click="toggleAccordion('services')">Services</button>
        <div class="accordion-panel" :class="{ 'active': activeAccordion === 'services' }">

        </div>
    </div>


    <div class="accordion">
        <button class="accordion-header" @click="toggleAccordion('busyHours')">Busy Hours</button>
        <div class="accordion-panel" :class="{ 'active': activeAccordion === 'busyHours' }">
            
            <table class="course-list">
                <thead>
                    <tr>
                        <th>Instructor</th>
                        <th>Busy Hours</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(inst, busyhours) in busy" :key="name">
                        <td>{{ busyhours }}</td>
                        <td>{{ arrayofhours(inst) }}</td>
                    </tr>
                </tbody>
            </table>


            <button @click="editBusyHours" class="mainButton" v-if="!showAddCourseForm && !showAddClassForm && !showAddBusyHourForm && !showEditBusyHoursForm">Edit Busy Hours</button>
            <button @click="addBusyHour" class="mainButton" v-if="!showAddCourseForm && !showAddClassForm && !showAddBusyHourForm && !showEditBusyHoursForm">Add a Busy Hour</button>


        </div>
    </div>


    <div class="accordion">
        <button class="accordion-header" @click="toggleAccordion('classrooms')">Classrooms</button>
        <div class="accordion-panel" :class="{ 'active': activeAccordion === 'classrooms' }">

            <tr v-for="(capacity, name) in classrooms" :key="name">
                <td>{{ name }}</td>
                <td>{{ capacity }}</td>
            </tr>

        
            <button @click="addClass" class="mainButton" v-if="!showAddCourseForm">Add a Class</button>
            <div v-if="showAddClassForm" class="class-form">
                <h2 class="header">Add a New Class</h2>
                <form @submit.prevent="submitClass">
                    <!-- Add input fields for classroom ID and capacity -->
                    <label for="classroom-id">Classroom ID:</label>
                    <input type="text" id="classroom-id" v-model="newClass.classroomId" />
        
                    <label for="capacity">Capacity:</label>
                    <input type="number" id="capacity" v-model="newClass.capacity" />
        
                    <!-- Add buttons for saving and canceling -->
                    <button type="submit" class="miniButton">Add Class</button>
                    <button @click="cancelAddClass" class="miniButton">Cancel</button>
                </form>
                <div v-if="showSuccessMessage" class="success-message">
                    Class successfully added
                </div>
                <!-- Error paragraphs moved to the bottom -->
                <p v-if="errors.classroomId" class="error">{{ errors.classroomId }}</p>
                <p v-if="errors.capacity" class="error">{{ errors.capacity }}</p>

               

            </div>

            <div v-else>
                <table class="course-list">
                    <thead>
                        <tr>
                            <th>Classrooms</th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(capacity, name) in classrooms" :key="name">
                            <td>{{ name }}</td>
                            <td>{{ capacity }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Add a message container -->

    <!-- Table goes here -->


    <button @click="makeSchedule" class="mainButton" v-if="!showAddCourseForm && !showAddClassForm && !showAddBusyHourForm && !showEditBusyHoursForm">Make Schedule</button>


    <table class="course-list">
        <thead>
            <tr>
                <th>Day</th>
                <th>Hour</th>
                <th>Year 1</th>
                <th>Year 2</th>
                <th>Year 3</th>
                <th>Year 4</th>
            </tr>
        </thead>
        <tbody>
            <template v-for="(day, index) in Object.keys(weekdays)">
                <tr>
                    <td rowspan="9">{{ day }}</td>
                </tr>
                <tr v-for="hour in getHourRange(index)" :key="hour">
                    <td><b>{{ toHour(hour) }}</b></td>
                    <td>{{ schedule[1][hour] ? schedule[1][hour][0].code + "  " + schedule[1][hour][1] : '' }}</td>
                    <td>{{ schedule[2][hour] ? schedule[2][hour][0].code + "  " + schedule[2][hour][1] : '' }}</td>
                    <td>{{ schedule[3][hour] ? schedule[3][hour][0].code + "  " + schedule[3][hour][1] : '' }}</td>
                    <td>{{ schedule[4][hour] ? schedule[4][hour][0].code + "  " + schedule[4][hour][1] : '' }}</td>
                </tr>
            </template>
        </tbody>
    </table>
    
    


</div>

<div id="displayDiv" class="hidden"></div>

<script src="./app.js"></script>
</body>

</html>

