
.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-align: center;
}

.logo img {
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.logo .header {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

body {
    background-color: #bfd9f3; 
}


.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.success-message.show {
    opacity: 1;
}

.mainButton {
    background-color: #3c8fb6;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;

}

.miniButton {
    background-color: #3c8fb6;
    color: #ffffff;
    border-radius: 5px;
    height: 20px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.mainButton:hover {
    background-color: #276e8f;
    cursor: pointer;
}

.miniButton:hover {
    background-color: #276e8f;
    cursor: pointer;
}


.mainButton:active {
    background-color: #194965;
}

.miniButton:active {
    background-color: #194965;
}

.course-form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 8px;
}

.header {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3281a5;
}

.error {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    color: #ff0000;

    margin-top: 5px;
}


.accordion {
    border: 2px solid #ccc;
    background-color: #f9f9f9; 
    border-radius: 5px; 
}


.accordion-header {
    background-color: #f1f1f1; 
    color: #333;
    cursor: pointer;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-size: 18px; 
    transition: background-color 0.3s ease; 
    padding : 20px;
}


.accordion-header:hover {
    background-color: #e0e0e0; /
}


.accordion-panel {
    overflow-y: auto; 
    max-height: 0; 
    transition: max-height 0.5s ease, opacity 0.23s ease; 
    opacity: 1; 
    

}

.course-list {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Roboto', sans-serif;
  }
  
  .course-list th,
  .course-list td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .course-list th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  .course-list tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .course-list tr:hover {
    background-color: #ddd;
  }
  

.accordion-panel.active {
    max-height: calc(200vh - 0px); 
    opacity: 1; 
}

