.logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    text-align: center;
}

.logo img {
    width: 150px;
    height: 150px;
    z-index: 9999;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.logo .header {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

body {
    background-color: #bfd9f3; /* Set your desired background color here */
}


.success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.success-message.show {
    opacity: 1;
}

.mainButton {
    background-color: #3c8fb6;
    color: #ffffff;
    border-radius: 5px;
    height: 50px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.miniButton {
    background-color: #3c8fb6;
    color: #ffffff;
    border-radius: 5px;
    height: 20px;
    width: 80px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.mainButton:hover {
    background-color: #276e8f;
    cursor: pointer;
}

.miniButton:hover {
    background-color: #276e8f;
    cursor: pointer;
}


.mainButton:active {
    background-color: #194965;
}

.miniButton:active {
    background-color: #194965;
}

.course-form label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-right: 2px;
    margin-left: 8px;
}

.header {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #3281a5;


}

.error {

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    color: #ff0000;

    margin-top: 5px;
}










